
/* css reset */
*{
margin: 0;
padding: 0;
}
/* css variable */
:root{
--navbar-height:59px;

}
/* logo */
.logo{
margin: 10px 34px;
}
.logo img
{
height: 50px;
margin: 3px 6px;
}
/* navbar */
#navbar{
display: flex;
position: relative;
}
#navbar ul{
display: flex;
}
#navbar ul li{
color:black;
list-style: none;
font-size: 1.3rem;
}
#navbar ul li a{
display: block;
padding: 3px 22px;
align-items: center;
text-decoration: none;
border-radius: 20px;
}